---
layout: default
title: learn git one commit at a time
---
<div style="margin-bottom: 16px;">详细介绍我是如何被强迫症击中和30多年的抗争之路以及我的办法和心得体会</div>

{% assign first_post = site.posts.first %}
<div id="post" class="grid_6 alpha content">
  <h2>
    <a href="{{ first_post.url }}">最新发布: {{ first_post.title }} &raquo;</a>
  </h2>
  {{ first_post.content | truncate: 250 }}
</div>

{% for post in site.categories.pin %}
<nav class="SideNav border">
  <a class="SideNav-item d-flex flex-items-center flex-justify-between" href="{{ post.url }}">
    <div class="d-flex flex-items-center">
        <svg class="SideNav-icon octicon" style="witdh:16px;height:16px"><path class="svgTop1" d=""></path>
        </svg>
        <span class="listTitle">{{ post.title }}</span>
    </div>
    <div class="listLabels"><span class="Label LabelTime" style="background-color:#bc4c00">{{ post.date | date_to_string }}</span></div>
</a>
</nav>
 {% endfor %}
{% for post in site.posts %}
<nav class="SideNav border">
  <a class="SideNav-item d-flex flex-items-center flex-justify-between" href="{{ post.url }}">
    <div class="d-flex flex-items-center">
        <svg class="SideNav-icon octicon" style="witdh:16px;height:16px"><path class="svgTop0" d=""></path>
        </svg>
        <span class="listTitle">{{ post.title }}</span>
    </div>
    <div class="listLabels"><span class="Label LabelTime" style="background-color:#bc4c00">{{ post.date | date_to_string }}</span></div>
</a>
</nav>
  {% endfor %}

<script>
  iconTOP=document.getElementsByClassName("svgTop1");
iconPost=document.getElementsByClassName("svgTop0");
for(var i=0;i<iconTOP.length;i++){
    iconTOP[i].setAttribute("d",IconList["upload"]);
    iconTOP[i].parentNode.style.color="red";
}
for(var i=0;i<iconPost.length;i++){
    iconPost[i].setAttribute("d",IconList["post"]);
}

</script>
