/* Styles for Austin's Website */

#biotext {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.670588);
    color: white;
    padding: 0.7em;
}

.panel {
  margin-bottom: 22px;
  background-color: rgba(0, 0, 0, 0.670588);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  color: #fff;
}

.page-header {
    border-bottom: none;
}

/*.left-tabs  .nav-tabs>li.active>a, .left-tabs  .nav-tabs>li.active>a:hover, .left-tabs  .nav-tabs>li.active>a:focus {
background-color: rgba(0, 0, 0, 0.670588);
border: 1px transparent;
border-right:1px transparent;
cursor: default;
}
*/
.fa-twitter {

}

/* LEFT TABS SECTION */

#MyTab {
    background-color:transparent;
}

.left-tabs .nav-tabs>li {
float: none;
/*margin-bottom: 3px;*/
}

.left-tabs  .nav-tabs {
border-bottom: none;
padding-right:0px;
margin-right:-30px;
z-index:1000;
position:relative;
background-color: rgba(0, 0, 0, 0.670588);
color:#fff;
}
.left-tabs .nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
/*border: 1px solid transparent;
border-radius: 4px 0px 0px 4px;*/
}

.left-tabs .tab-content .panel-default{
    -moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
 border-top-left-radius: 0px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;

}

.left-tabs  .nav-tabs>li.active>a, .left-tabs  .nav-tabs>li.active>a:hover, .left-tabs  .nav-tabs>li.active>a:focus {
color: #fff;
background-color: transparent; /*
border: 1px solid #ddd;
border-right:0px;
border-bottom-color: #ddd;*/
cursor: default;
}

h3 span .date {
    font-size:1em;
}

.nav-tabs {
  border-bottom: none;
  font-size: 16px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  margin-right: -1px;
}
.nav-tabs > li > a {
  margin-right: 5px;
  line-height: 1.42857143;
  border: none;
  color: #428bca;
}
.nav-tabs > li > a:hover {
  border:none;
  background-color: rgba(0, 0, 0, 0.670588);
  color: #428bca;
}
.nav-tabs > li > a:active {
  border:none;
  background-color: rgba(0, 0, 0, 0.670588);
  color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #428bca;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.670588);
  border: none;
  border-bottom-color: transparent;
  margin-right: 10px;
}
